.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  background: #000000;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-shake-animation {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}
