.header-title {
  display: flex;

  justify-content: center;
}

.player-input-container {
  display: flex;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;

  justify-content: center;
}
