.header {
  background: #74baca;
}
.header-title {
  display: flex;
  font-family: "Shadows Into Light", cursive;
  font-size: 45px;
  justify-content: center;
}

.player-input-container {
  display: flex;
  justify-content: space-evenly;
}

.btn-container {
  display: flex;

  justify-content: center;
}

.player-inputbox {
  width: 220px;
  height: 30px;
  border: 2px solid #7cbac7;
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.8s ease;
  outline-style: none;

  &:focus {
    border: 2px solid #c77c7c;
  }
}

.start-btn {
  width: 125px;
  height: 44px;
  margin: 20px 0px;
  border: none;
  background: #87da78;
  font-size: 18px;
  text-transform: uppercase;
  transition: transform 0.4s ease;
  cursor: pointer;
  border-radius: 30px;
  outline: none;

  &:hover {
    transform: scale(1.2);
  }
}
